.blocflex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}


article {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 1rem;
    padding: 1rem;
    background-color: rgb(95, 105, 96);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}