
/////////////////////////////// BLOCFLEX DES ARTICLES DE LA PAGE COUR ///////////////////////////////

.blocflex{

    display: flex;
    
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 14rem;
    
  
    
}

.blocflex__article {

    position: relative;
    display: flex;
    height: 14rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem;
    border: 3px solid black;
    background-color: rgb(95, 105, 96);
    box-shadow: rgba(0, 0, 0, 0.4) 5px 7px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.blocflex__article::after {

    content: "";
    width: 0%;
    height: 100%;
    background-color: black;
    position: absolute;
    right: 0;
    transition: all 0.2s ease-in-out;
    
}

.blocflex__article:hover::after {

    width: 100%;
}

.blocflex__article:hover h5 {

    opacity: 0;
    transform: translateX(-10rem);
   
}

.blocflex__article:hover .titre__article {

    opacity: 1;
}

.titre__article {

    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 10;
    color: rgb(95, 105, 96);;
    transition: all 0.2s ease-in-out;
    
}

.titre__article h6 a {
    color: rgb(95, 105, 96);
}

.titre__article h6 a:hover {
    color: whitesmoke;
}

.blocflex__article h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: whitesmoke;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    transition: all 0.2s ease-in-out;
}


.blocflex__article p {

   display: none;
}

/////////////////////////////// BLOCFLEX DES ARTICLES DE LA PAGE NOTE-4W4 ////////////////////////////

.blocflex__article_note {

    position: relative;
    display: flex;
    height: 14rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem;
    border: 3px solid black;
    background-color: rgb(95, 105, 96);
    box-shadow: rgba(0, 0, 0, 0.4) 5px 7px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.blocflex__article_note p {

    display: none;
}


.blocflex__article_note h5 a {
  
  color: black;
   
}

.blocflex__article_note h5:hover a {

    color: whitesmoke;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

.blocflex__article_note h5{

   
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 100%;

}

.blocflex__article_note h5:hover {

    color: black;
    transform: translateY(-2vh);
}


.blocflex__article_note h5::after {

    content: "";
    width: 0.75rem;
    height: 0.75rem;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.blocflex__article_note h5:hover::after{

   opacity: 1;
   transform: translateY(5vh);
    
}



/////////////////////////////// BLOCFLEX DES ARTICLES DE LA GALERIE /////////////////////////////////

.blocflex__galerie {
    flex: 1 0 80%;
    padding: 1rem;

}

figure figure{
   border: black 2px solid; 
   box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.185);
}


