/* ////////////////////////////// Conteneur du menu //////////////////////////*/

.site__entete { // logo,site dexcription,menu,bouton,recherche
    border: yellow 1px solid;
    position: relative;
   overflow-x: hidden;
}

.custom-logo-link { // logo
    margin-left: 1rem;
    
}

.entete__nav{  
    border: blueviolet 1px solid;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* ////////////////////////////// RECHERCHE //////////////////////////*/


.menu__recherche { //form de recherche, site description

    border: 1px solid aqua;
    display: flex;
    flex-direction: column-reverse;

}

.site__description {

    font-family: 'Righteous', cursive;
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);
    text-align: center;

    a {

        text-decoration: none;
        color: black
    }
}

/* ////////////////////////////// BOUTON BURGER //////////////////////////*/

.material-symbols-outlined { // icone burger

    color: white;
    font-size: 6rem;
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
}

#menu__burger:checked ~ .menu__entete {

    transform: translateX(0);

}





/* ///////////////////////////////// Menu navigation ////////////////////////////*/

.menu__entete{ // nav

    
    border: red 1px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translate(30rem);
    
    width: 30%;
    height: 20vh;
    background-color: blue;
    position: absolute;
    top: 20vh;
    right:0;
   
    @media screen and (min-width : $largeur__tablette) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    

    .menu { // ul

      


        .menu-item { // li

          
    
            a{
                padding : 3px 5px;
                text-decoration: none;
                color: whitesmoke;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                -webkit-text-stroke: 0.5px;
                -webkit-text-stroke-color: black;

                transition: all 0.5s ease;
            }

            a:hover {

                color: rebeccapurple;
                
            }

        }

      

    }

}