/* ////////////////////////////// Conteneur du menu //////////////////////////*/

.site__entete { // logo,site dexcription,menu,bouton,recherche
   
    position: relative;
  
}

.custom-logo-link { // logo
    margin-left: 1rem;
    
}

.entete__nav{  
   
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ////////////////////////////// RECHERCHE //////////////////////////*/

.site__description {

    display: none;
}

.site__titre {

    display: none;
}
/* ////////////////////////////// BOUTON BURGER //////////////////////////*/

.material-symbols-outlined { // icone burger

    color: white;
    font-size: 3rem;
    position: absolute;
    right: 0.9rem;
    top: 1.5rem;
    @media screen and (min-width : $largeur__bureau) {
            display: none;
    }
}

#menu__burger:checked ~ .menu__entete {

    transform: translateX(0);
   
}

#menu__burger {

    display: none;
}




/* ///////////////////////////////// Menu navigation ////////////////////////////*/

.menu__entete{ // nav

    
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(30rem);
    transition: 0.5s all ease;
    
    width: 30vw;
    height: 20vh;
    
    position: absolute;
    top: 10vh;
    right:0;

    @media screen and (min-width : $largeur__bureau) {
        
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: static;
        height: auto;
        top: auto;
        transform: translateX(0);

    }
    

    .menu { // ul
    
       
      
      @media screen and (min-width : $largeur__bureau) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    


        .menu-item { // li

          position: relative;
          transform: translateX(0);
          transition: all 0.2s ease-in-out;

            a{
                padding : 3px 5px;
                text-decoration: none;
                color: whitesmoke;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                -webkit-text-stroke: 0.5px;
                -webkit-text-stroke-color: black;

            }
        }

        .menu-item:hover {

            transform: translateX(0.5rem);
        }


        .menu-item::after {

            content: "";
            width: 0.5rem;
            height: 0.5rem;
            position: absolute;
            background-color: white;
            border: 1px solid white;
            border-radius: 5px;
            top: 20%;
            left: 1rem;
            opacity: 0;
            transform: translateX(0);
            transition: all 0.2s ease-in-out;
            
        }

        .menu-item:hover::after{

            transform: translateX(-2rem);
            opacity: 1;
        }
      
    }

}

