//////////////////////////////////////// CONTENEUR MENU ///////////////

.entete__nav {

display: flex;
justify-content: space-between;
align-items: center;

}

//////////////////////////////////////// MENU NAVIGATION ///////////////

.menu__entete { // balise nav 
    display: flex;
    justify-content: space-between;
    background-color: black;

    .menu { // ul 
            display: flex;
            list-style-type: none;
            justify-content: flex-end;

        .menu-item { // li 

            a{ // lien
                padding: 3px 10px;
                text-decoration: none;
                color: whitesmoke;
               
            }
            
            a:hover {
                color: green;
            }
        }
    }

}

//////////////////////////////////////// TITRE PRINCIPAL DE SITE ///////

.site__titre{

    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);

    a{
        text-decoration: none;
        font-family: 'Abril Fatface', cursive;
    }
}

