.erreur {

    background-color: whitesmoke;
    display: flex;
    justify-content: center;
   
}

.h3{

    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

