.erreur {

    background-color: rgb(245, 245, 245,0.3);
    display: flex;
    justify-content: center;
   
}
.erreur__404 {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}


.erreur__recherche {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choix__cours {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.notes__cours {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.notes__cours ul, .choix__cours ul {

    gap:1rem;
}

.notes__cours ul a, .choix__cours ul a {

    color: black;
}

.notes__cours ul a:hover,.choix__cours ul a:hover {

    color: blue;
}


.menu {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

