.site__footer .info ul {

   color: rgba(245, 245, 245, 0.538);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}

.menu__liens ul li a  {

   text-decoration: none;
   color:  rgba(245, 245, 245, 0.538);

}
.menu__liens ul li a:hover  {

    color: whitesmoke;

}

.menu__liens ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $largeur__tablette) {
        flex-direction: row;
        justify-content: space-between;
        width: 30vw;
       }
}