.site__footer {

    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: red 1px solid;


    .colonne {

        display: flex;
        justify-content: space-between;
        width: 100vw;
        padding: 1rem;

        .lien {
            
            .menu__liens{

                ul {
                    display: flex;
                    flex-direction: column;

                    li {
                        a {color: #aaa;}  
                        a:hover {color: rgb(12, 136, 177);}
                    }
                }
                
            }
        }
        
        .info {

            text-align: center;
            li { color:#aaa }
        }

        .footer_colonne {
            
            width: 30%;
            
            div {
                div{
                    ul {
                        li{
                            a{
                                color: #aaa;
                            }
                        }
                    }
                }
                #block-17 {

                    display: flex;
                    justify-content: center;
                }
            }
        }
    }





}