.menu__activiter { //nav

    background-color: transparent;

    .menu { //ul

        display: flex;
        justify-content: center;


        .menu-item{//li

            display: flex;
            flex-direction: column;
            
            border: 1px solid #aaa;
            height: auto;
            margin: 1rem;

            a{
               
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                color: white;
                transition: all 0.3s ease-in-out;
                position: relative;

                .title {

                    font-size: 1.5rem;
                    position: absolute;
                    top:40%;
                    z-index: 10;
                   
                }
                .description {

                    font-size: .7rem;
                    position: absolute;
                    bottom: 35%;
                    z-index: 10;
                    font-family:Arial, Helvetica, sans-serif;
                }
                .menu-thumbnail{
                    display: block;
                    width: 350px;
                    height: 200px;
                    object-fit: contain;
                    object-fit: cover;
                     
                   
                }
            }

            a::after {

                content: "";
                position: absolute;
                bottom: 25%;
                width: 350px;
                height: 100px;
                background-color: rgba(0, 0, 0, 0.37);
            }

            a:hover {

                scale: 1.1;
            }

    

        }

    }

}

