

#s {

    border-radius: 10px;
}


.recherche__bouton {

    background-color: rebeccapurple;

}


.recherche__section {

    border: whitesmoke 1px solid;
    display: flex;
    flex-wrap: wrap;
}

.recherche__section article {

    background-color: rgb(245, 245, 245, 0.5);
    
    
}


