.recherche{
  
   padding: 1rem;
}

.recherche__bouton {
 
    position: absolute;
    z-index: 30;
    left: 1.5rem;
    bottom: 1.7rem;
    background: none;
    border: none;
}

.recherche__input {
    
    position: relative;
    width: 170px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  
}


.recherche__input:focus {
    width: 70vw;
    @media screen and (min-width:$largeur__bureau) {
        width: 95vw;
    }
}




