.recherche{
  
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row-reverse;
   justify-content: center;
   align-items:flex-start;
  
   position: relative;
  border: red 1px solid;
}

.recherche__bouton {
    padding: 0.5rem;
    background-color: white;
    border: 0;
    border-radius: 2rem;
    font-size: 1.5rem;
    @media  screen and (min-width: $largeur__tablette) {
        position: absolute;
        right: 0vw;

        
    }
    
}

.recherche__input {
    
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  
}


.recherche__input:focus {
    width: 100%;
  }




