.site__main.evenement {

    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: whitesmoke;

    h1 {

        display: block;

    }

    .image__evenement {

        
        height: 20rem;
        width: 74vw;
        
    }

    .wp-post-image{

    
       object-fit: cover;
       height: 20rem;
       width: 74vw;
        
    }
}

.site__main.activiter {

    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: whitesmoke;

    h1 {

        display: block;

    }

    .image__evenement {

        
        height: 20rem;
        width: 74vw;
        
    }

    .wp-post-image{

    
       object-fit: cover;
       height: 20rem;
       width: 74vw;
        
    }
}