ul,
ol {
    margin : 0rem 0rem;
    padding : 7px;
    color : #444;
    list-style-type : none;
    
    @media screen and (min-width: 400px) {
        margin : 1rem .5rem; 
        padding : 0 13px;
      }
    @media screen and (min-width: 700px) {
        margin : 1rem .5rem; 
        padding : 0 15px;
    }
}

ul {
  
   
}

ul li, 
ol li {

    margin: .5rem 0rem;
   
   
}






/*
li > ol {}
li > ul {}
*/

code {}

strong{}

hr {}

blockquote {
 
}